<!DOCTYPE html> {% extends "base.html" %} {% block content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>quizId</th>
            <th>questionId</th>
            <th>active</th>
            <th>correct</th>
            <th>createdAt</th>
            <th>updatedAt</th>
            <th>content</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for d in row %}
            <td>{{ d }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} {% block scripts %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            columns: [{
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }],
        });
    });
</script>
{% endblock %}