<!DOCTYPE html> {% extends "base.html" %} {% block content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome de utilizador</th>
            <th>email</th>
            <th>Password</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for d in row %} {% if loop.index == 1 %}
            <!-- urls estão corretos, mas apresenta sempre a informação do user logado -->
            <td><a href="/profile/{{ row[1] }}">{{ d }}</a></td>
            {% else %}
            <td>{{ d }}</td>
            {% endif %} {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} {% block scripts %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            columns: [{
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }, {
                orderable: true,
                searchable: true
            }],
        });
    });
</script>
{% endblock %}