<!DOCTYPE html> {% extends 'layout.html' %} {% block title %}Quiz{% endblock %} {% block content %}
<h2>Quiz</h2>
<div>
    <table>

        <tr>
            {% for question in questions %}
            <h3>{{ question[1] }}</h3>
        </tr>
        <tr>
            {% for a in range(2,question|length) %}
            <form>
                <p><input type="radio" name="answer">{{ question[a] }}</p>
            </form>

            {% endfor %}
            <h3>Cotação: {{ question[0] }}</h3>

            <hr style="border-bottom: 3px solid;"> {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}